<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
<div class="content_ container">
    <div class="container content_area_set">
        <hr style="height: 1px;  background-color: red;">
        <div _ngcontent-oex-c6="" class="dataContentBot">
            <div class="row">
                <div class="detailRight login_m">
                    <div class="login_area">
                        <div class="login_text" style="padding-top: 0;">

                            <form _ngcontent-ftw-c0="" action="https://ufa699bet.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form2" method="post">
                                <div class="form_input">
                                    <input type="text" name="txtUserName2" id="txtUserName2" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password2" id="password2" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">

                                </div>
                                <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa2('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                    <span class="badge badge-danger btn_login">เข้าสู่ระบบ</span>
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="detailLeft">
                    <div _ngcontent-oex-c6="" class="row">
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/register' src="/assets/images/content/register.png" style="width:100%" alt="">
                        </div>
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/deposit' src="/assets/images/content/DEPOSIT.png" alt="">
                        </div>
                        <div class="w-100"></div>

                        <div class="col hvr-push hover icon_home">
                            <a href="https://lin.ee/3WytmJVY" target="_blank"><img src="/assets/images/content/line.png?v=1.1" alt=""></a>
                        </div>
                        <div class="col hvr-push hover icon_home">
                            <img routerLink='/page/withdraw' src="/assets/images/content/WITHDRAW.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detailRight login_full">
                    <div class="login_area">
                        <div class="login_text">
                            <div class="logo_text_login">
                                <img src="/assets/images/logo/logo.png" alt="">
                            </div>
                            <form _ngcontent-ftw-c0="" action="https://ufa699bet.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                                <div class="form_input">
                                    <input type="text" name="txtUserName" id="txtUserName" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password" id="password" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">

                                </div>
                                <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                    <span class="badge badge-danger btn_login">เข้าสู่ระบบ</span>
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 1px;  background-color: red;">






            <div class="row">
                <div class="info_home">
                    <div class="text_home" style="color:#FCD900 ;">
                        สมัคร UFABET699 แทงบอลออนไลน์
                    </div>
                    <div class="text_des_home">
                        <span style="color: red;">UFABET699</span> ในปัจจุบันนั้นเว็บ<span style="color: green;">พนันออนไลน์</span>นั้นเกิดขึ้นอย่างแพร่หลาย และมีมากมายให้ลูกค้าได้เลือกหาที่จะเล่นกัน แต่วันนี้เราจะมาแนะนำเว็บไซต์น้องใหม่ล่าสุดสดๆร้อนๆนั่นก็คือ
                        เว็บไซต์น้องใหม่มาแรงแซงทุกเว็บของยุคนี้ สีสันสุดใส เข้าใจง่าย ตัวหนังสือชัดเจน รองรับหลายภาษา รวมถึงภาษาไทย เรียบง่ายไม่ยุ่งยาก คัดสรรค์กีฬามามากมาย ไม่ว่าจะเป็นฟุตบอล บาสเกตบอล เทนนิส วอลเล่ย์บอล แม้แต่แบตมินตัน ก็ยังมีให้ลูกค้าได้เสียงโชคกัน
                        ในส่วนของฟุตบอลนั้นมีฟุตบอลหลากหลายประเทศ ลีคต่างๆ มีให้เล่นกันเยอะมาก ในส่วนของฟุตบอลไทยนั้น ทางเว็บก็ยังใส่ไว้ให้ลูกค้าได้เล่นกัน ลูกค้าจะพบกับการเดิมพันหลากหลาย ทำให้คุณเพลิดเพลินและยังได้รับส่วนลด การเดิมพันซึ่งจะทำให้ได้รับเงินเป็นจำนวนมากขึ้นกว่า
                        การเดิมพันที่เกิดขึ้นจริง ส่วนพิเศษของเว็บไซต์ นั้นก็คือท่านสามารถชมฟุตบอลสดผ่านเว็ฐไซต์ของ <span style="color: red;">UFABET699</span> ได้เลยถือได้ว่าคุ้มเกินคุ้ม
                    </div>
                </div>
            </div>

            <div class="row" class="register_step_area">
                <img src="/assets/images/content/register-step.jpg?v=1.1" style="width: 100%;" alt="">
            </div>




            <div class="row" style="padding-top:20px;padding-bottom: 20px;">
                <div class="col-sm icon_area">
                    <img src="/assets/images/content/sport.jpg" alt="">
                    <img src="/assets/images/content/casino.jpg" alt="">
                    <img src="/assets/images/content/ufagame.jpg" alt="">
                </div>
                <div class="col-sm icon_area">
                    <img class="image_area3" src="/assets/images/icon/deposit-withdraw.jpg?v=1.1" alt="">
                </div>

                <div class="col-sm icon_area">
                    <img class="image_area3" src="/assets/images/icon/no-transfer.jpg?v=1.1" alt="">
                </div>
            </div>


            <div class="row">
                <div class="title_text" style="color:white;width: 100%; position: relative;"> <i class="arrow right"></i>ข่าวสาร
                    <div style="position: absolute;
                    right: 20px;
                    top: 6px; cursor: pointer;" [routerLink]="['/news']" routerLinkActive="router-link-active">ดูเพิ่มเติม</div>
                </div>

                <div class="col-sm icon_area">

                </div>
                <div _ngcontent-oex-c6="" class="row news_area">
                    <ng-container *ngFor="let todo of todoList; index as i; first as isFirst;let l = count">
                        <div _ngcontent-oex-c6="" class="col-sm-6   news_area_card" tabindex="0" routerLink="/news/news-detail/{{todo.adjust_page_title}}-{{todo.adjust_page_id}}">
                            <div class="news_card">
                                <!-- <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}"> -->
                                <div class="detailLeftNews">
                                    <div _ngcontent-oex-c6="" class="image-news" [ngStyle]="{'background-image':'url('+todo.adjust_image+')'}">
                                        &nbsp;
                                        <!-- <img src="'/upload/files/{{todo.adjust_page_image_name}}.{{todo.adjust_page_image_type}}" alt=""> -->
                                    </div>
                                </div>
                                <div class="detailRightNews">
                                    <div _ngcontent-oex-c6="" class="text-news"> {{todo.adjust_page_title}} </div>
                                    <div _ngcontent-oex-c6="" class="des-news"> {{todo.adjust_page_short_description}} </div>
                                    <div _ngcontent-oex-c6="" class="des-news-time"> 26 มิถุนายน 2563 </div>
                                    <!-- <div class="date_news"> sadfasdf{{todo.adjust_page_create_date}} </div> -->
                                </div>
                            </div>



                        </div>
                    </ng-container>
                </div>

            </div>


            <!-- <div class="row">
                <div class="col-sm icon_area">
                    <div class="title_text">รีวิวลูกค้า</div>
                </div>
                <div _ngcontent-oex-c6="" class="review_area">
                    <img src="/assets/images/icon/review1.jpg" alt="">
                    <img src="/assets/images/icon/review2.jpg" alt="">
                    <img src="/assets/images/icon/review3.jpg" alt="">
                </div>
            </div> -->






        </div>

    </div>
</div>

<div _ngcontent-gyx-c3="" attr="https://lin.ee/3WytmJVY" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div>