<app-menu></app-menu>
<div class="container padding20">
    <div class="income_area padding20">
        <div class="label_title">
            รายได้ผู้แนะนำ
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        คลิกลิงค์
                    </div>
                    <div class="text_stat">
                        {{click_count}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        สมัคร
                    </div>
                    <div class="text_stat">
                        {{number_register}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        เล่นต่อเนื่อง
                    </div>
                    <div class="text_stat">
                        {{number_active}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้สะสม
                    </div>
                    <div class="text_stat">
                        {{amount_all_income}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้ที่ถอนได้
                    </div>
                    <div class="text_stat text_green">
                        {{amount_withdraw}}
                    </div>
                </div>
            </div>
        </div>


        <div class="content_area_income" style="padding:20px;">
            <div style="font-size: 2em; color: #000; font-weight: bold;">วิธีสร้างรายได้</div>
            <div style="text-align: left;">ลิ้งค์ช่วยแชร์รับ 0.5% ฟรี (แค่ก๊อปปี้ลิ้งค์ไปแชร์ก็ได้เงินแล้ว) ยิ่งแชร์มากยิ่งได้มาก</div>
            <div style="text-align: left;">ท่านสามารถนำลิ้งค์ด้านล่างนี้หรือนำป้ายแบนเนอร์ ไปแชร์ในช่องทางต่างๆ ไม่ว่าจะเป็น เว็บไชต์ส่วนตัว, Blog, Facebook หรือ Social Network อื่นๆ </div>
            <div style="text-align: left;"> หากมีการสมัครสมาชิกโดยคลิกผ่านลิ้งค์ของท่านเข้ามา ลูกค้าที่สมัครเข้ามาก็จะอยู่ภายให้เครือข่ายของท่านทันที และหากลูกค้าภายใต้เครือข่ายของท่านมีการเดิมพันเข้ามา ทุกยอดการเดิมพัน ท่านจะได้รับส่วนแบ่งในการแนะนำ 0.6% ทันทีโดยไม่มีเงื่อนไข</div>
            <br>
            <br>
            <div style="text-align: left;"> ตัวอย่างเช่น... </div>
            <br>
            <div style="text-align: left;">เพื่อนลำดับที่ 1</div>
            <div style="text-align: left;"> ท่านจะได้รับส่วนแบ่ง เริ่มต้นในขั้นแรก 0.5% ตัวอย่างเช่น
            </div>
            <div style="text-align: left;">- ลูกค้าท่าน 1 คน แทง 1,000 บาท ท่านจะได้ 5 บาท (ท่านจะได้ทุกรายการแทงของลูกค้า)</div>

            <br>
            <div style="text-align: left;">หมายเหตุ: รายได้การช่วยแชร์ช่วยแนะนำของท่านสามารถแจ้งถอนได้ทุกเวลา หากมียอดรายได้มากกว่า 100 บาทขึ้นไป</div>
        </div>



    </div>



</div>