<app-menu></app-menu>

<div class="container padding20">
    <div class="income_area">
        <div class="label_title">
            ถอนรายได้
        </div>
    </div>
    <div class="content_area_income" style="padding-bottom: 20px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">รายได้ที่ถอนได้</th>
                    <th scope="col">{{amount_withdraw}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ต้องการถอน</th>
                    <td>
                        <input type="text" placeholder="จำนวนที่ต้องการถอน" name="amount_withdraw" class="form-control" id="amount_withdraw">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn btn-success" (click)="withdraw_fn()">ถอน</div>
        <div style="padding:20px;">
            <form class="form-inline">
                <div class="form-group  mb-2">
                    <label for="inputPassword2" class="sr-only">ค้นหา</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="ค้นหา">
                </div>
                <button type="submit" class="btn mx-sm-3 btn-primary mb-2">ค้นหา</button>
            </form>
            <table class="table table-bordered table-dark">
                <thead>
                    <tr style="font-weight: 100;">
                        <th scope="col">ยอดเงิน</th>
                        <th scope="col">ยอดคงเหลือ</th>
                        <th scope="col">เวลา</th>
                        <th scope="col">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let todo of array_withdraw">
                        <tr>
                            <th scope="row">{{todo.aw_amount}}</th>
                            <td>{{todo.aw_my_credit}}</td>
                            <td>{{todo.aw_create_date}}</td>
                            <td>
                                <ng-container *ngIf="todo.aw_status=='1'">
                                    สำเร็จ
                                </ng-container>
                                <ng-container *ngIf="todo.aw_status!='1'">
                                    ไม่สำเร็จ
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>

                    <!-- <tr>
                        <th scope="row">1500</th>
                        <td>5000</td>
                        <td>12:000</td>
                        <td>สำเร็จ</td>
                    </tr>
                    <tr>
                        <th scope="row">1500</th>
                        <td>5000</td>
                        <td>12:000</td>
                        <td>สำเร็จ</td>
                    </tr>
                    <tr>
                        <th scope="row">1500</th>
                        <td>5000</td>
                        <td>12:000</td>
                        <td>สำเร็จ</td>
                    </tr> -->
                </tbody>
            </table>
        </div>

    </div>

</div>